<nav class="main-nav overlay clearfix">
  {{#foreach navigation}}
            <!-- <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li> -->
    <a class="menu-button menu-button_{{slug}}" href="{{#if current}}#{{else}}{{url absolute="true"}}{{/if}}">{{label}}</a>
  {{/foreach}}
</nav>
